=flash[:error]
%form{:name => "user", :action => "/login", :method => "post"}
  %label Username
  %input{:type => "text", :name => "username"}
  %br
  %label Password
  %input{:type => "password", :name => "password"}
  %br
  %br
  %input{:type => "submit", :value => "Login", :class => "button"}
