%form{:method => "post", :action => "addTicket"}
  Subject
  %input{:type => "text", :name => "subject"}
  %br
  Description
  %input{:type => "textarea", :name => "description"}
  %br
  %input{:type => "submit", :name => "Submit"}
         
